{% extends 'base.html.twig' %}

{% block title %} - Dashboard
{% endblock %}

{% block head_javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">

				<h2>EURO x {{ currency }}</h2>
				<canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1076" height="454" style="display: block; width: 1076px; height: 454px;"></canvas>
				<script type="text/javascript">
				(function () {
				'use strict'

				feather.replace()

				// Graphs
				var ctx = document.getElementById('myChart')
				// eslint-disable-next-line no-unused-vars
				var myChart = new Chart(ctx, {
					type: 'line',
					data: {
					labels: [{{ dates|join(', ')|raw }}],
					datasets: [{
						data: [{{ values|join(', ') }}],
						lineTension: 0,
						backgroundColor: 'transparent',
						borderColor: '#007bff',
						borderWidth: 4,
						pointBackgroundColor: '#007bff'
					}]
					},
					options: {
					scales: {
						yAxes: [{
						ticks: {
							beginAtZero: false
						}
						}]
					},
					legend: {
						display: false
					}
					}
				})
				}())
				</script>
			</div>
		</div>
	</div>
{% endblock %}
