{% extends 'base.html.twig' %}

{% block title %}- Sign in
{% endblock %}

{% block body %}
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main role="main" class="inner cover">
			<img class="mb-4" src="{{ asset('images/logo.png')}}" alt="" width="50" height="50">
			<h1 class="cover-heading">Time To Buy.</h1>
			<p class="lead">A free app for current and historical foreign exchange rates published by the
				<a href="https://exchangeratesapi.io/">European Central Bank</a>.</p>
		</main>
	{% endblock %}
